[user]
	email = shaoboliu2012@gmail.com
	name = shaobo Liu
[merge]
	tool = kdiff3

[color]
	ui = auto

[color "branch"]
    current = yellow reverse
    local = blue 
    remote = green
[color "diff"]
    meta = blue bold
    frag = magenta bold
    old = red bold
    new = green 
[color "status"]
    added = blue bold 
    changed = green
    untracked = cyan

[color]
    ui = true
[color "diff"]
    whitespace = red reverse

[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol



[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    lg = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
	dt = difftool
